{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "jasmine": true,
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "require": false,
    "module": false,
    "fetch": false,
    "__DEV__": false,
    "window": false,
    "__dirname": false
  },
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "comma-dangle": [2, "always-multiline"]
  }
}
